
*.pyc
*.png
checkpoint_000085.ckpt
events.out.tfevents.1668657515.DESKTOP-12E9R3U
*.DESKTOP-12E9R3U
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/cv_project.iml
